$grey-50: rgb(242, 242, 242);
$grey-100: rgb(230, 230, 230);
$grey-200: rgb(204, 204, 204);
$grey-300: rgb(179, 179, 179);
$grey-400: rgb(153, 153, 153);
$grey-500: rgb(128, 128, 128);
$grey-600: rgb(102, 102, 102);
$grey-700: rgb(77, 77, 77);
$grey-800: rgb(51, 51, 51);
$grey-900: rgb(26, 26, 26);
$grey-950: rgb(13, 13, 13);

$red-50: rgb(255, 242, 242);
$red-100: rgb(255, 217, 217);
$red-200: rgb(255, 176, 176);
$red-300: rgb(255, 143, 143);
$red-400: rgb(255, 110, 110);
$red-500: rgb(255, 76, 76);
$red-600: rgb(209, 63, 63);
$red-700: rgb(163, 49, 49);
$red-800: rgb(117, 35, 35);
$red-900: rgb(71, 21, 21);
$red-950: rgb(13, 4, 4);

$green-50: rgb(242, 255, 245);
$green-100: rgb(217, 250, 225);
$green-200: rgb(170, 240, 185);
$green-300: rgb(137, 232, 158);
$green-400: rgb(105, 224, 132);
$green-500: rgb(77, 218, 108);
$green-600: rgb(61, 178, 87);
$green-700: rgb(46, 140, 67);
$green-800: rgb(33, 102, 48);
$green-900: rgb(20, 64, 29);
$green-950: rgb(4, 13, 6);

$blue-50: rgb(242, 249, 255);
$blue-100: rgb(217, 238, 255);
$blue-200: rgb(176, 218, 255);
$blue-300: rgb(143, 203, 255);
$blue-400: rgb(110, 187, 255);
$blue-500: rgb(76, 172, 255);
$blue-600: rgb(63, 141, 209);
$blue-700: rgb(49, 110, 163);
$blue-800: rgb(35, 79, 117);
$blue-900: rgb(21, 48, 71);
$blue-950: rgb(4, 9, 13);

$white-alpha-50: rgba(255, 255, 255, 0.05);
$white-alpha-100: rgba(255, 255, 255, 0.15);
$white-alpha-200: rgba(255, 255, 255, 0.24);
$white-alpha-300: rgba(255, 255, 255, 0.33);
$white-alpha-400: rgba(255, 255, 255, 0.43);
$white-alpha-500: rgba(255, 255, 255, 0.52);
$white-alpha-600: rgba(255, 255, 255, 0.62);
$white-alpha-700: rgba(255, 255, 255, 0.71);
$white-alpha-800: rgba(255, 255, 255, 0.81);
$white-alpha-900: rgba(255, 255, 255, 0.9);
$white-alpha-950: rgb(255, 255, 255);

$black-alpha-50: rgba(0, 0, 0, 0.05);
$black-alpha-100: rgba(0, 0, 0, 0.15);
$black-alpha-200: rgba(0, 0, 0, 0.24);
$black-alpha-300: rgba(0, 0, 0, 0.33);
$black-alpha-400: rgba(0, 0, 0, 0.43);
$black-alpha-500: rgba(0, 0, 0, 0.52);
$black-alpha-600: rgba(0, 0, 0, 0.62);
$black-alpha-700: rgba(0, 0, 0, 0.71);
$black-alpha-800: rgba(0, 0, 0, 0.81);
$black-alpha-900: rgba(0, 0, 0, 0.9);
$black-alpha-950: rgb(0, 0, 0);

$red-alpha-50: rgba(255, 76, 76, 0.05);
$red-alpha-100: rgba(255, 76, 76, 0.15);
$red-alpha-200: rgba(255, 76, 76, 0.24);
$red-alpha-300: rgba(255, 76, 76, 0.33);
$red-alpha-400: rgba(255, 76, 76, 0.43);
$red-alpha-500: rgba(255, 76, 76, 0.52);
$red-alpha-600: rgba(255, 76, 76, 0.62);
$red-alpha-700: rgba(255, 76, 76, 0.71);
$red-alpha-800: rgba(255, 76, 76, 0.81);
$red-alpha-900: rgba(255, 76, 76, 0.9);
$red-alpha-950: rgb(255, 76, 76);

$green-alpha-50: rgba(77, 218, 110, 0.05);
$green-alpha-100: rgba(77, 218, 110, 0.15);
$green-alpha-200: rgba(77, 218, 110, 0.24);
$green-alpha-300: rgba(77, 218, 110, 0.33);
$green-alpha-400: rgba(77, 218, 110, 0.43);
$green-alpha-500: rgba(77, 218, 110, 0.52);
$green-alpha-600: rgba(77, 218, 110, 0.62);
$green-alpha-700: rgba(77, 218, 110, 0.71);
$green-alpha-800: rgba(77, 218, 110, 0.81);
$green-alpha-900: rgba(77, 218, 110, 0.9);
$green-alpha-950: rgb(77, 218, 110);

$blue-alpha-50: rgba(76, 172, 255, 0.05);
$blue-alpha-100: rgba(76, 172, 255, 0.15);
$blue-alpha-200: rgba(76, 172, 255, 0.24);
$blue-alpha-300: rgba(76, 172, 255, 0.33);
$blue-alpha-400: rgba(76, 172, 255, 0.43);
$blue-alpha-500: rgba(76, 172, 255, 0.52);
$blue-alpha-600: rgba(76, 172, 255, 0.62);
$blue-alpha-700: rgba(76, 172, 255, 0.71);
$blue-alpha-800: rgba(76, 172, 255, 0.81);
$blue-alpha-900: rgba(76, 172, 255, 0.9);
$blue-alpha-950: rgb(76, 172, 255);
